@model dynamic

@{
    ViewBag.Title = "Radruga - пользовательское соглашение";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<article class="lawArticle">
    <h1>Пользовательское соглашение</h1>
    <section>
        <p>
            МЫ НАСТОЯТЕЛЬНО РЕКОМЕНДУЕМ ВНИМАТЕЛЬНО ОЗНАКОМИТЬСЯ С НАСТОЯЩИМИ УСЛОВИЯМИ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ. ПОСЕЩАЯ САЙТ
            ПРОЕКТА RADRUGA И МОБИЛЬНОЕ ПРИЛОЖЕНИЕ RADRUGA ИЛИ ПОЛЬЗУЯСЬ ИМИ, ВЫ СОГЛАШАЕТЕСЬ С ОБЯЗАТЕЛЬСТВАМИ, ЗАКРЕПЛЕННЫМИ В НАСТОЯЩЕМ ДОКУМЕНТЕ. ЕСЛИ ВЫ НЕ СОГЛАСНЫ
            СО ВСЕМИ УСЛОВИЯМИ, ВЫ ОБЯЗАНЫ ВОЗДЕРЖАТЬСЯ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И ИГРЫ.
        </p>
        <p>
            Разработчик проекта Radruga благодарит Вас за посещение нашего Сайта. Настоящий документ
            Пользовательское соглашение (далее – Соглашение) содержит условия, регулирующие порядок доступа и использования нашего Сайта и Игры,
            который находится по адресу: <a href=".">https://radruga.com</a>, а также частично регламентирует доступ к игре «Radruga» и ко
            всем компонентам, функциям, программному обеспечению и услугам, предлагаемых и оказываемых компанией Radruga посредством Сайта и Игры.
        </p>
        <p>
            Принимая условия настоящего Соглашения, Вы подтверждаете, что правоспособны и дееспособны в соответствии с законами государства своего места нахождения,
            Вам не запрещено получать игровые услуги онлайн, а также не существуют иные ограничения в законодательстве вашей страны, включая ограничения по возрасту
            относительно допуска к таким услугам. За лиц, не достигших совершеннолетия (дееспособности), Соглашение заключают их
            законные представители (родители, опекуны).
        </p>
        <h2>Основные термины и определения</h2>
        <p>
            «Сайт» — совокупность размещенных в сети Интернет web-страниц, объединенных единой темой, дизайном и единым адресным пространством
            домена radruga.com, предоставляющих Пользователю доступ к Службе, в том числе для участия в Игре.
        </p>
        <p>«Группа» — группа на сайте <a href="https://vk.com/radruga_game">https://vk.com</a>, предназначенная для дополнительного общения Пользователей и обсуждений событий, связанных с Игрой.</p>
        <p>«Служба» - совокупность таких компонентов как Сайт, Игра, функции, контент, программное обеспечение и услуги, предлагаемые через Сайт и Игру.</p>
        <p>
            «Игра» — мобильное приложение для смартфонов "Radruga", являющееся программой для ЭВМ, включающий в
            себя Клиентскую часть Игры, компоненты, функции, игровые ресурсы, в том числе все дополнения и обновления Игры, а также серверную часть
            программного обеспечения Игры. Участие Пользователей в Игре происходит в интерактивном (онлайн) режиме, посредством установки на
            персональный компьютер Пользователя Клиентской части Игры и подключения Пользователя через всемирную сеть Интернет к игровым ресурсам Компании.
            Принцип функционирования Игры основывается на общеизвестной модели Free-To-Play (бесплатная игра), что означает предоставление Пользователю права
            использовать Игру путем участия в Игре без внесения абонентской платы и без каких-либо иных обязательных платежей, которые необходимы для принятия
            участия в Игре и/или продвижения в игровом процессе. Разработчик является обладателем необходимого объема прав на Игру и на все ее элементы,
            взятые как в отдельности, так и в совокупности.
        </p>
        <p>
            «Клиентская часть Игры» — программное обеспечение, необходимое для Вашего участия в Игре и подлежащее установке на
            Ваш смартфон. Клиентская часть Игры устанавливается Вами на мобильный телефон самостоятельно.
            Клиентская часть Игры распространяется Компанией и/или уполномоченными ею лицами посредством магазинов приложений App Store, Windows Store и Google Play.
        </p>
        <p>
            «Материалы» - Сайт, Игра, Программное обеспечение и любая часть Службы, компоненты, контент, включая, но не ограничиваясь
            любыми Аккаунтами Пользователей, названиями, компьютерными кодами, файлами, игровым программным обеспечением, клиентским
            и серверным программным обеспечением, инструментами, обновлениями, картинками, темами, объектами, игровыми текстами,
            концепцией, иллюстрациями, дизайном, графикой, изображениями, анимацией, информацией, данными,
            документацией, игровым процессом и сценарием, записями.
        </p>
        <p>
            «Политика конфиденциальности» - неотъемлемая часть Соглашения, регламентирующая предоставление, порядок обработки и
            использования персональных данных Пользователя, доступная по адресу <a href="privacy-policy">https://radruga.com/ru/privacy-policy</a>
        </p>
        <p>
            «Законодательство» — законодательство страны, являющейся страной регистрации (учреждения) Компании, а также законодательство
            страны гражданства (регистрации) или постоянного местонахождения Пользователя.
        </p>
        <p>
            «Разработчик», а также слова «мы/нас/нам/нами/наш» относятся к разработчику проекта Radruga
        </p>
        <p>
            «Администрация» - члены команды Radruga, работающие с Пользователями и решающие возникающие вопросы
        </p>
        <p>
            «Пользователь», а также слова «Вы/Вам/Вами/Ваш» относятся к физическому лицу, посетителю Сайта и\или принимающему участие в Игре.
            Пользователь является стороной Соглашения.
        </p>

        <h2>1. Общие положения</h2>
        <p>
            1.1. Настоящее Соглашение регулирует отношения между Компанией и Пользователем, является официальным документом, который определяет правила
            использования Сайта, Игры, Службы, права и обязанности Компании, права и обязанности Пользователей Сайта.
        </p>
        <p>
            1.2. Момент завершения Вами процедуры регистрации в Игре, либо начало пользования Службой означает, что Вы стали стороной
            данного Соглашения и подразумевает Ваше согласие принять все условия в полном объеме, без всяких оговорок и исключений и признать их юридически
            обязывающий характер. Все совершенные посредством Сайта и Игры активности и информация о них регулируются настоящим Соглашением.
        </p>
        <p>
            1.3. Соглашение может быть изменено нами без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с
            момента ее размещения в сети Интернет по адресу <a href="eula">https://radruga.com/ru/eula</a>,
            если иное не предусмотрено новой редакцией Соглашения. Вы обязуетесь регулярно ознакамливаться с условиями Соглашения, для того что бы
            иметь представление относительно всех нововведений, изменений и дополнений. Продолжая пользоваться любой частью Службы после внесения изменений
            в Соглашение, Вы подтверждаете признание тех или иных обновленных условий. Если Вы не согласны с измененными условиями,
            Вы должны прекратить пользоваться Службой и/или ее элементам.
        </p>
        <p>
            1.4. Настоящее Соглашение не заменяет любые дополнительные условия, которые могут применяться в случае, когда Вы пользуетесь
            определенной частью Службы. В случае если содержание настоящего Соглашения противоречит одному или нескольким положениям любого другого
            специального соглашения, правил или условий, преимущественной силой обладает положение(я) специального Соглашения.
        </p>

        <h2>2. Описание взаимоотношений</h2>
        <p>
            2.1. Мы предоставляем зарегистрированным Пользователям доступ к Игре на основе модели «free-to-play», а также к связанным компонентам, функциям и услугам,
            доступ к которым осуществляется через Сайт, это может быть, как форум сообщества, так и другие интерактивные сервисы. Для входа в Игру Вам понадобится
            загрузить и установить Клиентскую часть Игры, что влечет за собой необходимость использовать определенное аппаратное и
            программное обеспечение, а также доступ в сеть Интернет.
        </p>
        <p>
            2.2. Мы предоставляем Вам базовый бесплатный доступ к Службе, но некоторые дополнительные функции и компоненты Игры или Службы в целом,
            направленные на совершенствование игрового процесса, могут оставаться недоступными, пока Вы не выполните определенные условия для предоставлении
            доступа к таким функциям и компонентам.
        </p>
        <p>
            2.3. Принимая условия данного Соглашения Вы подтверждаете и осознаете, что любые дополнительные функции и компоненты являются добавочными и
            обусловлены наличием доступа к Службе. Вы не можете пользоваться ими и Ваши права в отношении таких функций и компонентов будут ограничены,
            если по той или иной причине у Вас будет отсутствовать доступ к Службе. Вы соглашаетесь с тем, что Разработчик или её взаимозависимые лица не могут
            быть привлечены к ответственности за отсутствие доступа к таким функциям и компонентам или быть обязанными компенсировать ущерб или убытки,
            возникшие в по данной причине, и Вы осознаете, что должны самостоятельно нести ответственность за соблюдение с Вашей стороны всех требований,
            необходимых для пользования Службой и дополнительными функциями, и компонентами.
        </p>
        <p>
            2.4. Вы соглашаетесь с тем, что мы не несем ответственности за аппаратное обеспечение, программное обеспечение или наличие у Вас доступа к сети Интернет,
            скорости платежей, имеющих место при получении прав на использование премиум функционала и компонентов Службы. Для использования
            той или иной части Службы Вам, за свой счет, необходимо соблюсти технические требования, приведенные по следующему адресу:
            (<a href="https://vk.com/radruga_game?w=page-69143827_49727724">https://vk.com/radruga_game?w=page-69143827_49727724</a>)
            В противном случае такие элементы Службы будут Вам недоступны.
        </p>

        <h2>3. Создание и пользование Аккаунтом</h2>
        <p>
            3.1. Для того чтобы Вы могли воспользоваться Игрой, Вам необходимо
            пройти процедуру регистрации, в результате которой для Вас будет создан Аккаунт.
        </p>
        <p>
            3.2. Для создания Аккаунта Вы должны достичь 12-летнего возраста. Если Вы достигли 12-летнего возраста,
            но не достигли установленного Законодательством возраста для заключения договоров в юрисдикции,
            резидентом которой Вы являетесь и/или 18-летнего возраста, необходимо, чтобы Вы ознакомились с Соглашением
            в присутствии своих родителей или законного опекуна/попечителя.
        </p>
        <p>
            3.3. При создании Аккаунта Вы соглашаетесь предоставить достоверную, точную, актуальную и полную информацию, которая должна
            быть внесена в соответствующие поля, и поддерживать её актуальность, достоверность, точность и полноту.
        </p>
        <p>
            3.4. После того как Вы создали Аккаунт, Вы являетесь единственным лицом, которое несет за него ответственность.
            Если характеристики Аккаунта нарушают ту или иную часть условий настоящего Соглашения, мы можем незамедлительно
            заблокировать его. В исключительных случаях, когда формально условия Соглашения не нарушены, но по нашему мнению
            название Аккаунта необходимо изменить – мы можем сделать это без Вашего на то согласия.
        </p>
        <p>
            3.5. Вы соглашаетесь и понимаете, что несете ответственность за сохранение конфиденциальности паролей, связанных с Аккаунтом,
            используемым Вами для доступа к Службе. Вы несете исключительную ответственность перед Компанией за все действия,
            которые совершены при использовании Вашего Аккаунта. Если Вам становится известно о любом несанкционированном использовании Вашего Аккаунта,
            Вы обязуетесь незамедлительно уведомить об этом нашу службу поддержки Пользователей.
        </p>
        <p>
            3.6. Мы можем прекратить действие Вашего Аккаунта, по своему усмотрению, в том случае, если Вы не используете его в течение
            двенадцати месяцев после даты его создания или в течение непрерывного периода, составляющего двенадцать месяцев. О прекращении
            действия Вашего Аккаунта мы уведомим Вас по электронной почте. В течение месяца после получения уведомления, Вы можете сообщить нам
            о своем намерении сохранить свой Аккаунт, по своему усмотрению мы можем не удалять его.
        </p>

        <h2>4. Право собственности. Право интеллектуальной собственности</h2>
        <p>
            4.1. Разработчик является обладателем прав интеллектуальной собственности на Сайт, Игру и прочие компоненты Службы
            (включая, но не ограничиваясь любыми Аккаунтами пользователей, названиями, компьютерными кодами, файлами, игровым программным
            обеспечением, клиентским и серверным программным обеспечением, инструментами, обновлениями, объектами,
            темами, локацией, концепцией, иллюстрациями, дизайном, графикой, изображениями, анимацией,
            информацией, данными, документацией, игровым процессом и сценарием, записями, игровыми текстами, игровыми действиями),
            которые защищаются действующим Законодательством, в том числе законами об авторском праве.
        </p>
        <p>
            4.2. Вы можете использовать элементы Сайта для личного некоммерческого использования при условии сохранения всех знаков охраны авторского права,
            смежных прав, торговых марок (товарных знаков, знаков для товаров и услуг), в том числе при условии получения согласия
            от нашей службы поддержки Пользователей.
        </p>
        <p>
            4.3. Вы гарантируете, что в случае предъявления к Компании претензий и/или исков, в связи с нарушением Вами гарантий, закрепленных в данном
            Соглашении, Вы возьмете на себя обязательства по их урегулированию от своего имени и будете нести ответственность по этим претензиям и/или искам
            самостоятельно и за свой счет. Если разбирательство приведет к удовлетворению претензий и/или исков третьих лиц к нам,
            Вы обязуетесь возместить все понесенные нами убытки и другие расходы, причиненные таким нарушением.
        </p>
        <p>
            4.4. Вы гарантируете, что все имущественные права интеллектуальной собственности на материалы, которые размещаются Вами на Сайте и Игре, принадлежат
            Вам на законных основаниях. Вы берете на себя всю полноту ответственности за размещение материалов, распространение которых запрещено Законодательством.
        </p>
        <p>
            4.5. Принимая данное Соглашение Вы предоставляете Разработчику, исключительное, бессрочное, действующее по всему миру, абсолютное право
            на создание, использование, продажу, предложение к продаже, импорт или иной способ использования, опубликование, цитирование,
            адаптацию, перевод, хранение, воспроизводство, модификацию, создание производных работ, объединение, лицензирование, печать,
            сублицензирование, распространение, вещание, транслирование, иной способ сообщения и публичную демонстрацию размещенных материалов или
            любой их части, способом, в любой форме, без уведомления, вознаграждения или компенсации для Вас. Вы отказываетесь и соглашаетесь не заявлять
            о любых правах, которые Вы можете иметь на результаты таких изменений, если это является возможным согласно действующему Законодательству.
        </p>
        <p>
            4.6. В том случае, если Вы планируете переделывать, изменять, или создавать производные работы любого рода на основе либо в отношении
            Материалов, являющихся нашей собственностью, Вы соглашаетесь с тем, что Вы не обладаете никакими правами на результаты таких изменений,
            и что все права на них принадлежат исключительно Компании.
        </p>
        <p>
            4.7. Вы передаете нам на безвозмездной основе, с момента создания, без каких-либо ограничений, компенсаций все права, которые
            Вы можете иметь на результаты таких изменений и переработок. Такая передача включает, но не ограничивается авторскими правами по всему миру
            на результаты таких изменений и право выступать истцом по делам о нарушениях, которые были совершены в прошлом или
            будут совершены в будущем.
        </p>
        <p>
            4.8. Принимая данное Соглашение Вы предоставляете продаже, исключительное, бессрочное, действующее по всему миру, абсолютное право
            на создание, использование, продажу, предложение к продаже, импорт или иной способ использования, опубликование, цитирование,
            адаптацию, перевод, хранение, воспроизводство, модификацию, создание производных работ, объединение, лицензирование, печать,
            сублицензирование, распространение, вещание, транслирование, иной способ сообщения и публичную демонстрацию результатов таких изменений или
            любой их части, способом, в любой форме, без уведомления, вознаграждения или компенсации для Вас. Вы отказываетесь и соглашаетесь не заявлять
            о любых правах, которые Вы можете иметь на результаты таких изменений, если это является возможным согласно действующему Законодательству.
        </p>

        <h2>5. Другие сайты и контент третьих лиц</h2>
        <p>
            5.1. Игра и Сайт могут содержать ссылки на другие сайты, статьи, фотографии, иллюстрации, графические изображения,
            информацию и другой контент, принадлежащий или исходящий от третьих лиц.
        </p>
        <p>
            5.2. Мы не несем ответственность за любую информацию, размещенную на сайтах третьих лиц,
            к которой вы получили доступ по средством Сайта и Игры.
        </p>
        <p>
            5.3. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте и/или Игре,
            не означает факт одобрения или рекомендации данных продуктов (услуг) с нашей стороны.
        </p>
        <p>
            5.4. Если Вы переходите на сайты третьих лиц, Вы делаете это на свой страх и риск,
            настоящее Соглашение с этого момента более не действует.
        </p>

        <h2>6. Права и обязанности Разработчика</h2>
        <p>
            6.1. Разработчик имеет право:<br />
            6.1.1. в любое время изменять оформление Сайта и Игры и/или их содержание с уведомлением Пользователей или без такового;<br />
            6.1.2. удалять без каких-либо причин и без предупреждения любой контент, Материалы, комментарии, любую информацию,
            которые по нашему усмотрению нарушают и/или могут нарушить Законодательство, данное Соглашение, Политику конфиденциальности,
            Правила Форума, права других Пользователей или третьих лиц, причинять им вред или угрожать безопасности;<br />
            6.1.3. удалить Ваш Аккаунт в случаях предусмотренных разделом 9 настоящего Соглашения;<br />
            6.1.4. осуществлять рассылку сообщений (в том числе сообщений по электронной почте, пуш-уведомлений и т.п.),
            содержащих рекламную информацию о Службе или тематически с ними связанными;<br />
            6.1.5. полностью или частично ограничивать функциональность Сайта, Игры, Материалов по техническим, профилактическим или
            иным причинам по своему собственному усмотрению.<br />
            6.1.6. использовать Ваши данные в соответствии с Политикой конфиденциальности, размещённой на Сайте.
        </p>
        <p>
            6.2. Разработчик обязан:<br />
            6.2.1. Соблюдать данное Соглашение, Политику конфиденциальности
        </p>

        <h2>7. Права и обязанности Пользователя</h2>
        <p>
            7.1. Пользователь вправе:<br />
            7.1.1. производить настройки Аккаунта, менять логин и пароль для доступа к нему;<br />
            7.1.2. размещать, добавлять и изменять в Аккаунте и профиле Пользователя информацию о себе;<br />
            7.1.3. осуществлять иные, не запрещенные Законодательством или данным Соглашением действия,
            связанные с использованием Службы.
        </p>
        <p>
            7.2. Пользователь обязуется:<br />
            7.2.1. в момент регистрации Аккаунта указывать соответствующие действительности сведения;<br />
            7.2.2. принимать необходимые меры для обеспечения конфиденциальности учетных данных (логин и пароль),
            используемых для доступа к Аккаунту;<br />
            7.2.3. не использовать Сайт и Игру в каких-либо коммерческих целях без предварительного разрешения Компании;<br />
            7.2.4. соблюдать данное Соглашение, Политику конфиденциальности, Правила Форума;<br />
            7.2.5. не использовать любое программное обеспечение, ошибки, дефекты в целях получения несанкционированного
            доступа к Службе или в целях получения несправедливых преимуществ, в т.ч. над другими Пользователями;<br />
            7.2.6. не заниматься указанными ниже действиями:<br />
            a) продавать, перепродавать, передавать, дарить, передавать в долг, заниматься любым другим видом коммерческого использования
            Службы, Сайта, Игры или Материалов, являющихся собственностью Компании; <br />
            b) распространять, исполнять публично или публично демонстрировать любые Материалы, являющиеся собственностью Компании,
            кроме случаев обычного использования Игры; <br />
            c) изменять, адаптировать, переделывать, совершенствовать Игру, игровой контент или другие Материалы,
            являющиеся собственностью Компании, или их части; <br />
            d) использовать роботов для сбора или отбора информации; <br />
            e) скачивать (отличным от отображения страницы в кэш-памяти) любой части Материалов, являющихся собственностью Компании,
            или любой содержащейся в них информации, за исключением случаев, когда это прямо предусмотрено логикой Сайта; <br />
            f) использовать Службы или Материалы иным, отличным от традиционного принятого способа;<br />
            g) вводить Пользователей в заблуждение относительно своей личности;<br />
            h) копировать, переводить, публиковать, декомпилировать, заниматься инженерным анализом, производить разборку или
            преобразовывать Сайт и Игру (исходный код) или совершать любые попытки получить доступ к исходному коду Сайта и Игры для созданий
            производных произведений на основе исходного кода Сайта и Игры или иным образом;<br />
            i) загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать
            любую информацию, средства и/или материалы, которые:<br />
            1. содержат угрозы, дискредитируют, оскорбляют, порочат честь и достоинство или деловую
            репутацию или нарушают неприкосновенность частной жизни других Пользователей или третьих лиц;<br />
            2. являются вульгарными или непристойными, содержат нецензурную лексику, содержит
            порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;<br />
            3. содержат сцены насилия, либо бесчеловечного обращения с животными;<br />
            4. пропагандируют и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды,
            пропагандирует идеологию фашизма, коммунизма или расового превосходства, содержат негативные высказывания о какой-либо
            стране/народе/религии/политике, унижают национальное достоинство, в том числе по признаку
            национальной принадлежности или политических взглядов;<br />
            5. содержат экстремистские материалы;<br />
            6. пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению
            преступных действий,<br />
            7. содержат информацию ограниченного доступа;<br />
            8. содержат информацию рекламного характера;<br />
            9. носят мошеннический характер;<br />
            10. содержат персональные данные физических лиц, изображения третьих лиц без их
            предварительного согласия, за исключением случаев, предусмотренных Законодательством;<br />
            11. содержат вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения,
            уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ,
            для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы
            для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным
            ресурсам в сети Интернет, а также размещения ссылок на вышеуказанную информацию;<br />
            12. нарушают нормальную работу Службы;<br />
            13. нарушают права интеллектуальной собственности Компании и/или третьих лиц.
        </p>

        <h2>8. Бета тестирование</h2>
        <p>
            8.1. Во время бета тестирования все пункты пользовательского соглашения и политики конфиденциальности остаются в силе. 
        </p>

        <h2>9. Основания для удаления Аккаунта</h2>
        <p>
            9.1. Мы имеем право заблокировать или удалить Ваш Аккаунт как в приведенных ниже случаях, так и по личному усмотрению.
            Основные основания для удаления или блокировки Аккаунта:
        </p>
        <ul>
            <li>Вы предоставили неверную информацию о себе или у нам есть основания полагать, что предоставленная Вами информация неполна или недостоверна;</li>
            <li>Вы нарушили любое положение Соглашения, Политики конфиденциальности</li>
            <li>Вы не использовали Ваш Аккаунт в течение 12 месяцев подряд.</li>
        </ul>
        <p>
            9.2. Вы вправе прекратить действие Вашего Аккаунта, направив нам соответствующее уведомление.
            Такое действие будет расцениваться как расторжение настоящего Соглашения.
        </p>
        <p>
            9.3. В случае если действие Вашего Аккаунта прекращается, Вам не предоставляется никакой компенсации. Мы не конвертируем игровую валюту
            в наличные денежные средства не предоставляем никакие другие формы компенсаций.
            Вы просто утратите доступ к Вашему Аккаунту.
        </p>

        <h2>10. Ответственность</h2>
        <p>
            10.1. Мы не несем ответственности за возможные сбои и перерывы в работе Службы и вызванные ими потери информации.
            Мы не несем ответственности за любой ущерб, нанесенный компьютеру, мобильным устройствам, любому другому
            оборудованию или программному обеспечению Пользователей.
        </p>
        <p>
            10.2. Мы не несем ответственности за подбор пароля третьими лицами и любые действия, совершенные
            ими с использованием Вашего Аккаунта.
        </p>
        <p>
            10.3. Вы несете ответственность за противоправные действия, осуществляемые с использованием Вашего Аккаунта, а
            также в связи с размещением Материалов с использованием Вашего Аккаунта в Игре.
        </p>
        <p>
            10.4. Вы несете персональную ответственность за любой Материал или иную информацию, которую Вы
            загружаете на Сайт или иным образом доводите до всеобщего сведения по средством Службы.
        </p>
        <p>
            10.5. Вы готовы возместить Компании или третьим лицам любые убытки, понесённые в связи с Вашими действиями,
            включая, но не ограничиваясь нарушением настоящего Соглашения, прав интеллектуальной собственности или иных прав.
        </p>
        <p>
            10.6. Мы не несем ответственности за любой ущерб, причиненный вам во время прохождения Игры.
            Все миссии и задания в игре призывают к развитию игрока и не призывают к рискованным и опасным действиям, тем не менее, Вы должны отказаться
            от любой миссии, если она может причинить вред Вам и/или другим лицам.
        </p>

        <h2>11. Ограничение ответственности</h2>
        <p>
            11.1. Не при каких обстоятельствах мы не несем ответственности за прямые, косвенные или случайные убытки, включая,
            но не ограничиваясь, упущенной выгодой, простоем, потерей данных в связи с использованием или неспособностью использовать Службу,
            или любой другой контент, а также любые функции, компоненты, услуги или материалы третьих лиц, которые представлены в рамках
            Службы или через нее, включая, но не ограничиваясь любыми убытками, явившимися результатом или вызванными в результате доверия к информации,
            полученной от нас или наших взаимозависимых лиц или партнеров, или явившийся результатом ошибок, задержек, вирусов, дефектов или задержек в передаче
            или неисполнения, вне зависимости от того, возникли ли они в связи с сбоем связи, кражей, прерыванием работы или несанкционированным доступом Службе.
        </p>

        <h2>12. Отказ от гарантий</h2>
        <p>
            12.1. Вы осознаете и соглашаетесь с тем, что Служба, ее элементы,
            предоставляются на условиях «как есть» без каких-либо гарантий.
        </p>
        <p>
            12.2. Разработчик, дочерние компании, наши сотрудники, участники, взаимозависимые лица, работники или агенты
            отказываются от всех других гарантий, включая, но не ограничиваясь:
        </p>
        <ul>
            <li>гарантиями пригодности;</li>
            <li>гарантиями удовлетворения Ваших ожиданий;</li>
            <li>гарантиями отсутствия ошибок, вирусов, багов или других вредоносных компонентов, или недостатков;</li>
            <li>гарантиями бесперебойности и регулярности работы.</li>
        </ul>
        <h2>13. Согласие на обработку персональных данных</h2>
        <p>
            13.1. В момент заключения настоящего Соглашения Вы даете свое полное согласие на обработку своих персональных данных,
            а именно: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение
            (в том числе передачу и трансграничную передачу персональных данных), обезличивание, блокирование, уничтожение персональных данных,
            предоставляемых Вами в процессе использования Сайта, включая, но не ограничиваясь, фамилию, имя и отчество, пол, возраст, контактные
            телефоны или адреса электронной почты или иные средства электронной коммуникации, в случаях приобретения Премиум функционала — данные о Ваших
            платежных реквизитах, в том числе данные о кредитных или дебетовых платежных картах и иных средствах платежей в целях исполнения нами настоящего
            Соглашения. Настоящее согласие может быть Вами отозвано путем расторжения Соглашения и действует в течение срока действия Соглашения.
        </p>

        <h2>14. Заключительные положения</h2>
        <p>14.1. Настоящее Соглашение вступает в силу с момента его принятия Вами и действует в течение неопределённого времени.</p>
        <p>
            14.2. В случае нарушения Вами условий настоящего Соглашения, Разработчик вправе отказаться от исполнения настоящего
            Соглашения в одностороннем порядке.
        </p>
        <p>
            14.3. Вопросы, не урегулированные в настоящем Соглашении, определяются в соответствии с правом Республики Беларусь.
            Споры, связанные с заключением, исполнением и расторжением настоящего Соглашения, подлежат рассмотрению в соответствующем суде Республики Беларусь,
            в соответствии с материальным и процессуальным правом Республики Беларусь.
        </p>
        <p>
            14.4. В случае если компетентный суд признает какие-либо положения настоящего Соглашения недействительными,
            Соглашение продолжает действовать в остальной части.
        </p>
        <p>
            14.5. К правам и обязанностям сторон, возникшим на основании редакции Соглашения, утратившей свою силу, применяются положения
            действующей (актуальной) редакции Соглашения, если иное не вытекает из характера возникших между сторонами отношений.
        </p>

        <p>
            СПАСИБО, ЧТО УДЕЛИЛИ ВРЕМЯ И ПРОЧЛИ ДАННОЕ СОГЛАШЕНИЕ. ЕСЛИ ВЫ НЕ СОГЛАСНЫ С УСЛОВИЯМИ НАСТОЯЩЕГО СОГЛАШЕНИЯ,
            ПОЖАЛУЙСТА, НЕЗАМЕДЛИТЕЛЬНО ПОКИНЬТЕ САЙТ И УДАЛИТЕ ИГРУ. ЕСЛИ У ВАС ВОЗНИКЛИ ВОПРОСЫ ИЛИ ПРЕДЛОЖЕНИЯ –
            ОБРАТИТЕСЬ В НАШУ СЛУЖБУ ПОДДЕРЖКИ <address>support@radruga.com</address>
        </p>

    </section>
</article>