@model dynamic

@{
    ViewBag.Title = "Radruga - политика конфиденциальности";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<article class="lawArticle">
    <h1>Политика конфиденциальности</h1>
    <section>
        <p>Настоящая Политика конфиденциальности (далее – Политика) действует в отношении всей информации, которую Администрация и/или его аффилированные лица, могут получить о Пользователе во время использования им любого из Ресурсов Сайта и/или Игры.</p>
        <p>Все термины, которые указаны в данной Политике, употребляются в значении, предусмотренном в Пользовательском соглашении по адресу <a href="eula">https://radruga.com/ru/eula</a>.</p>
        <p>Пользователь подтверждает, что начиная использовать какой либо Ресурс Игры/его отдельные функции, либо пройдя процедуру регистрации, безоговорочно принимает все положения настоящей Политики и дает безусловное согласие на сбор, обработку и раскрытие его персональных данных на условиях, изложенных в данной Политике.  В случае, если Пользователь не согласен с каким-либо положением настоящей Политики, он должен воздержаться от предоставления информации о себе Администрации и/или его аффилированным лицам.</p>
        <h4>1. Персональные данные Пользователя, которые получает и обрабатывает Администрация</h4>
        <p>1.1. В рамках настоящей Политики под «персональными данными Пользователя» понимаются:</p>
        <p>
            1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создания Аккаунта и Профиля) и в процессе использования Ресурсов Игры.<br />
            В случае, если Пользователь не указывает какую-либо информацию о себе, которая является обязательной для заполнения и помечена специальным образом, он полностью или частично лишается возможности пользоваться Ресурсами Игры.<br />
            По настоящей Политике не может определяться обязательной информация, касающаяся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья Пользователя.<br />
        </p>
        <p>
            1.1.2. Данные, которые автоматически сохраняются при посещении Пользователем Сайта и использовании Игры, в том числе IP-адрес компьютера Пользователя, информация о его операционной системе, типе браузера (или иной программе, с помощью которой осуществляется доступ), дате и времени посещения, пользовательской активности, о веб-страницах, которые Пользователь посещает на Сайте и в Игре, URL-адресе сайта, с которого Пользователь перешел на Сайт, и URL-адресе сайта, на который Пользователь может перейти по ссылке далее.<br />
            Кроме того, автоматически сохраняется информация, полученная от веб-обозревателя Пользователя путем использования файлов cookie – данных, которые хранятся на жестком диске компьютера Пользователя и содержат информацию о нем. Файлы cookie, веб-маяки или другие аналогичные технологии позволяют сделать пребывание Пользователя на Сайте более комфортным и индивидуализированным, в частности: распознавать Пользователя, хранить информацию о его предпочтениях, ускорять и качественно совершенствовать поисковой процесс.
        </p>
        <p>1.1.3. Информация, предоставляемая Пользователем в случае подписки на получение SMS-уведомлений, отправляемых непосредственно на мобильное устройство Пользователя (в частности, о номере телефона Пользователя).</p>
        <p>1.1.4. Данные о деталях денежных транзакций, проводимых через Ресурсы Игры, а также об обработке и выполнении заказов Пользователя.</p>
        <p>1.1.5. Иная информация о Пользователе, сбор и/или предоставление которой определено в документах отдельных Ресурсов Сайта.</p>

        <h4>2. Цели сбора и обработки персональных данных Пользователя</h4>
        <p>2.1. Администрация собирает и хранит только те персональные данные, которые необходимы для использования Ресурсов Игры Пользователем.</p>
        <p>2.2. Персональные данные Пользователя Администрация может использовать в целях:</p>
        <p>2.2.1. идентификации Пользователя в рамках соглашений с Администрацией;</p>
        <p>2.2.2. предоставления Пользователю персонализированных Ресурсов;</p>
        <p>2.2.3. поддержания связи с Пользователем, в том числе посредством направления уведомлений и запросов, касающихся использования Ресурсов Игры;</p>
        <p>2.2.4. улучшения качества Ресурсов Игры, удобства их использования, разработки новых Ресурсов;</p>
        <p>2.2.5. таргетирования рекламных материалов;</p>
        <p>2.2.6. предоставления персональной информации о Пользователе другим пользователям Ресурсов Игры с целью, предусмотренной п.3.2. данной Политики;</p>
        <p>2.2.7. проведения статистических и иных исследований на основе обезличенных данных.</p>

        <h4>3. Условия обработки персональных данных Пользователя и их передачи третьим лицам</h4>
        <p>3.1. Администрация хранит персональную информацию Пользователя в соответствии с внутренними регламентами конкретных Ресурсов Игры.</p>
        <p>3.2. В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц (например, при общении в чате, на форуме, публикации комментариев, участии в опросах). При использовании отдельных Ресурсов, Пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.</p>
        <p>3.3. Администрация вправе передать персональные данные Пользователя третьим лицам в случаях если:</p>
        <p>3.3.1. пользователь выразил свое согласие на такие действия;</p>
        <p>3.3.2. передача необходима в рамках использования Пользователем определенного Ресурса Сайта и/или Игры;</p>
        <p>3.3.3. передача происходит в ходе продажи или иной передачи прав на Сайт и Игру (полностью или частично), причем к новому владельцу переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;</p>
        <p>3.3.4. получения официального запроса государственного органа, составленного в соответствии с требованиями действующего Законодательства;</p>
        <p>3.3.5. это необходимо для обеспечения возможности защиты прав и законных интересов Администрации или третьих лиц (в частности, если Пользователь нарушает Пользовательское соглашение);</p>
        <p>3.3.6.  в иных случаях, предусмотренных Законодательством.</p>
        <p>3.4 Обезличенная информация может передаваться третьим лицам, таким как аналитические компании и рекламные сети, для сбора статистических данных с целью их дальнейшего использования при проведении промышленного анализа, отслеживания конвертации рекламы и/или осуществления демографического профилирования.</p>

        <h4>4. Изменение Пользователем персональной информации</h4>
        <p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или ее часть, воспользовавшись функцией редактирования персональных данных.</p>

        <h4>5. Меры, применяемые для защиты персональных данных Пользователя</h4>
        <p>5.1. Администрация принимает необходимые и достаточные организационные и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, несанкционированного раскрытия, распространения, а также от иных неправомерных действий с ними третьих лиц.</p>
        <p>5.2. Пользователь должен учитывать, что предпринимаемые меры не могут гарантировать абсолютную безопасность информации о Пользователе во время ее передачи и хранения в системе.</p>
        <p>5.3. Пользователь должен прилагать все усилия для того, чтобы сохранять желаемую конфиденциальность предоставляемых им данных, а также использовать все возможные технические средства для оснащения своего компьютера необходимой программно-аппаратной составляющей, которая позволяет защищать передаваемые и принимаемые по сети данные от незаконного доступа третьих лиц.</p>

        <h4>6. Заключительные положения</h4>
        <p>6.1. Администрация имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу <a href="privacy-policy">https://radruga.com/ru/privacy-policy</a>.</p>
        <p>6.2. Данная Политика может применяться только к Ресурсам Сайта. Администратор не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте. Сбор персональной информации о Пользователе, который осуществляется на этих сайтах, регламентируется исключительно политикой конфиденциальности указанных сайтов.</p>
    </section>
</article>